<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Servicios Académicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Fundación Universitaria Konrad Lorenz</ion-card-subtitle>
      <ion-card-title>Aulas Virtuales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta será la sección donde se encontrarán enlaces directos a los servicios académicos de la universidad.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Cursos</ion-label>
    </ion-list-header>
    <ion-item href="http://www.konradlorenz.edu.co/es/">
      <ion-icon slot="start" color="medium" name="cloud"></ion-icon>
      <ion-label>Página Principal FUKL</ion-label>
    </ion-item>
    <ion-item href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office365.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=0&client-request-id=946b633d-c10f-494c-abf7-f5425fd05eb2&protectedtoken=true&domain_hint=konradlorenz.edu.co&nonce=637013403791388193.8ded2bfa-ea3d-46a5-b58c-a285693a385f&state=DctBDsIgEEBR0LuYuIBCp8CwaDzLlJlurJ2ERE08vSze331rjLkOl8GGEVMylBBhCVBqBMRYwSMLz9tOTgjYLZmS2xI2RzOmXIEA027He5_0S9OjCx2v9alnJz60y_nzwm_f9PbhtWnvon8&sso_reload=true">
      <ion-icon slot="start" color="medium" name="mail"></ion-icon>
      <ion-label>Correo Institucional</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="bookmarks"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
