<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
      <ion-list-header>
        <ion-label>Iniciar Sesión</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input placeholder="Código docente" clear-input="true" style="background:#F4FFF9"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" clear-input="true" type="password" style="background:#F4FFF9"></ion-input>
      </ion-item>
        <ion-button href="home-teacher" expand="block" color="secondary" type="submit">Ingresar</ion-button>
        <ion-item href="">
            <ion-icon slot="start" color="medium" name="person-add"></ion-icon>
            <ion-label>Regístrate</ion-label>
            <ion-card-subtitle>¿No tienes usuario?</ion-card-subtitle>
          </ion-item>
  </ion-list>

</ion-content>
