<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="https://virtual.konradlorenz.edu.co/pluginfile.php/162819/course/overviewfiles/31628.jpg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Fundación Universitaria Konrad Lorenz</ion-card-subtitle>
          <ion-card-title>Aulas Virtuales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Esta será la sección de inicio de sesión para los estudiantes.</p>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Herramientas</ion-label>
        </ion-list-header>
        <ion-item routerLink="/cursos">
          <ion-icon slot="start" color="medium" name="filing"></ion-icon>
          <ion-label>Mis Cursos</ion-label>
        </ion-item>
        <ion-item routerLink="/tutoriales">
          <ion-icon slot="start" color="medium" name="tv"></ion-icon>
          <ion-label>Tutoriales</ion-label>
        </ion-item>
        <ion-item routerLink="/servicios-academicos">
          <ion-icon slot="start" color="medium" name="school"></ion-icon>
          <ion-label>Servicios Académicos</ion-label>
        </ion-item>
        <ion-item routerLink="">
          <ion-icon slot="start" color="medium" name="person"></ion-icon>
          <ion-label>Servicios Administrativos</ion-label>
        </ion-item>
      </ion-list>
</ion-content>