<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="https://virtual.konradlorenz.edu.co/pluginfile.php/162819/course/overviewfiles/31628.jpg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Fundación Universitaria Konrad Lorenz</ion-card-subtitle>
          <ion-card-title>Aulas Virtuales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Esta será la sección de inicio de sesión para los estudiantes.</p>
        </ion-card-content>
      </ion-card>
      <ion-button (click)="openCustom()">hola</ion-button>

      <ion-button>jaja</ion-button>
</ion-content>