<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Tutoriales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Fundación Universitaria Konrad Lorenz</ion-card-subtitle>
      <ion-card-title>Aulas Virtuales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta será la sección de tutoriales.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Videos</ion-label>
    </ion-list-header>
    <ion-item href="https://www.youtube.com/watch?v=jwfkHZvDEEY">
      <ion-icon slot="start" color="medium" name="logo-youtube"></ion-icon>
      <ion-label>¿Cómo ingresar?</ion-label>
    </ion-item>
    <ion-item href="https://www.youtube.com/watch?v=KtiTrVTUn7w">
      <ion-icon slot="start" color="medium" name="logo-youtube"></ion-icon>
      <ion-label>Archivos y Recursos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
