<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Mis Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Fundación Universitaria Konrad Lorenz</ion-card-subtitle>
      <ion-card-title>Aulas Virtuales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta será la sección donde se mostrarán los cursos.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Cursos</ion-label>
    </ion-list-header>
    <ion-item href="invest-oper">
      <ion-icon slot="start" color="medium" name="construct"></ion-icon>
      <ion-label>Investigación de Operaciones I</ion-label>
    </ion-item>
    <ion-item href="const-apli">
      <ion-icon slot="start" color="medium" name="tablet-landscape"></ion-icon>
      <ion-label>Construcción de Aplicaciones Multiplataforma</ion-label>
    </ion-item>
    <ion-item href="elect">
      <ion-icon slot="start" color="medium" name="code-working"></ion-icon>
      <ion-label>Electiva I</ion-label>
    </ion-item>
    <ion-item href="intel-neg">
      <ion-icon slot="start" color="medium" name="ribbon"></ion-icon>
      <ion-label>Inteligencia de Negocios</ion-label>
    </ion-item>
    <ion-item href="red-comu">
      <ion-icon slot="start" color="medium" name="git-branch"></ion-icon>
      <ion-label>Redes de Comunicación I</ion-label>
    </ion-item>
    <ion-item href="ing-soft">
      <ion-icon slot="start" color="medium" name="barcode"></ion-icon>
      <ion-label>Ingeniería de Software I</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
